circle.node {
  cursor: pointer;
  stroke: #263238;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #3182bd;
  stroke-width: 0.5px;
}

.d3-tip {
  line-height: 1;
  font-style: bold;
  padding: 12px;
  color: #b71c1c;
  border-radius: 1px;
}

